extends layout

block content
  script(src="javascripts/browserIndex.js")
  link(rel='stylesheet', href='stylesheets/style.css')
  div.hero.hero-sm.bg-dark
    div.hero-body
      h1.text-center Welcome to Booker
      p.text-center Reserve a seat in Fuller for any day you'd like.
  if alert != "null"
    div.toast.toast-primary#alert
      p= alert
  table.table
    if results.length
      thead.text-center
        tr
          th Seat ID
          th Date
          th Time Slot
          th Username
          th Options
    else
      div.empty
        div.empty-icon
          i.icon.icon-4x.icon-time
        p.empty-title.h5 You haven't booked anything yet
        p.empty-subtitle Bookings you've made will appear here
        div.empty-action
          button.btn.btn-primary(onclick="document.getElementById('book').classList.add('active');") Reserve a spot
    tbody.text-center
      for val in results
        tr
          td(contenteditable='true' id='rsvp-seat-write-' + val.id oninput="document.getElementById('rsvp-seat-" + val.id +"').value = document.getElementById('rsvp-seat-write-" + val.id +"').innerText; document.getElementById('rsvp-update-" + val.id +"').style.display = 'inline-block';")= val.seat
          td(contenteditable='true' id='rsvp-date-write-' + val.id oninput="document.getElementById('rsvp-date-" + val.id +"').value = document.getElementById('rsvp-date-write-" + val.id +"').innerText; document.getElementById('rsvp-update-" + val.id +"').style.display = 'inline-block';")= val.date
          td(contenteditable='true' id='rsvp-time-write-' + val.id oninput="document.getElementById('rsvp-time-" + val.id +"').value = document.getElementById('rsvp-time-write-" + val.id +"').innerText; document.getElementById('rsvp-update-" + val.id +"').style.display = 'inline-block';")= val.time
          td.tooltip(data-tooltip= val.username + "@gmail.com")= val.username
          td
            form.form-horizontal(method='POST' action='/api/booking/update')
              input.form-input(type='hidden' name='seat' value=val.seat id='rsvp-seat-' + val.id)
              input.form-input(type='hidden' name='username' value=val.username)
              input.form-input(type='hidden' name='date' value=val.date id='rsvp-date-' + val.id)
              input.form-input(type='hidden' name='time' value=val.time id='rsvp-time-' + val.id)
              input.form-input(type='hidden' name='id' value=val.id)
              button.btn.btn-primary(style='display: none;' type='submit' id='rsvp-update-' + val.id) Revise
            form(method='POST' action='/api/booking/delete')
              input(type='hidden' name='id' value=val.id)
              button.btn.btn-primary(type='submit') Delete
  div.modal#book
    a.modal-overlay(href='#close' aria-label='Close' onclick="document.getElementById('book').classList.remove('active');")
    div.modal-container
      div.modal-header
        a.btn.btn-clear.float-right(href='#close' aria-label='Close' onclick="document.getElementById('book').classList.remove('active');")
        div.modal-title.h5 Claim your seat
      div.modal-body
        form(method='POST' action='/api/booking/create')
          div.content
            div.form-group
              label.form-label(for='seat') Seat ID
              input.form-input(type='text' placeholder='A1' name='seat')
              input(type='hidden' name='username' value=username)
              label.form-label(for='date') Date
              input.form-input(type='date' name='date' value=currentDate)
              label.form-label(for='time') Time Slot
              input.form-input(type='number' name='time')
              input(type='hidden' name='userid' value=userID)
              button.form-input.btn.btn-primary(type='submit' style='margin-top: 30px;') Add Booking
  button.btn.btn-primary.btn-lg.btn-action.s-circle(style='position: fixed; bottom: 10px; right: 10px;' onclick="document.getElementById('book').classList.add('active');")
    i.icon.icon-plus.center